LISTEN_HOST=127.0.0.1
LISTEN_PORT=3088
SECRET_SEGMENT=my-secret-sub
PUBLIC_HOST=edge.silentconnect.net
PUBLIC_SUBSCRIPTION_ORIGIN=https://sub.silentconnect.net
FALLBACK_SUBSCRIPTION_ORIGIN=https://edge.silentconnect.net
XUI_DB_PATH=/etc/x-ui/x-ui.db
HAPP_HEADERS_ENABLED=1
HAPP_PROFILE_TITLE=SilentConnect
HAPP_PROVIDER_ID=
HAPP_SUPPORT_URL=https://t.me/SilentConnectVPNBot
HAPP_WEB_PAGE_URL=https://silentconnect.net
HAPP_RENEW_URL=https://t.me/SilentConnectVPNBot?start=open
HAPP_PROFILE_UPDATE_INTERVAL=1
HAPP_SERVER_DESCRIPTION=Основной сервер
HAPP_SUB_INFO_ENABLED=1
HAPP_UNLIMITED_AFTER_DAYS=3650
HAPP_RESOLVE_DNS_DOMAIN=https://dns.google/dns-query
HAPP_RESOLVE_DNS_IP=8.8.8.8
HAPP_EXTRA_EXCLUDE_ROUTES=
EXTRA_OUTBOUNDS_PATH=
MULTI_CONFIGS_PATH=
